#Experimental notes are a field for making notes 
#unique to each experiment (if required)
#that will help with understanding the 
#purpose of the experiment to a user in the future
experimental_notes : ""

max_training_steps: 100000
lr: 0.0003
batch_size: 16384

evaluate_only: false
load_model_path: ""

frame_stack: false

#"TD3", "PPO", "PPO_LSTM", or "DreamerV3"
algorithm: "TD3"

log_dir: "~/cranfield-navigation-gym/log_dir/"
tensorboard_dir: "~/cranfield-navigation-gym/log_dir/"

TD3:
  policy_type: "MlpPolicy" # CnnPolicy, MlpPolicy, MultiInputPolicy
  learning_starts: 2500
  tau: 0.005
  action_noise: "None"
  batch_size: 256 # for camera only! take out from lidar


PPO:
  policy_type: "MlpPolicy" 
  # n_steps: 256
  # batch_size: 256
  n_steps: 32768
  batch_size: 8192


PPO_LSTM:
  policy_type: "MlpPolicy"
  n_steps: 4096
  batch_size: 2048