# Set the default logger level to WARN globally
log4j.logger.ros=ERROR

# Explicitly configure the gazebo_plugins.joint_state_publisher logger
log4j.logger.ros.gazebo_plugins.joint_state_publisher=ERROR

# Explicitly configure the gazebo_plugins.camera logger
log4j.logger.ros.gazebo_plugins.camera=ERROR
